@tailwind base;
@tailwind components;

/* format */
html {
  scroll-behavior: smooth;
}

/* global */
html,
body {
  @apply font-light;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* header */
.menu {
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
.menu.active {
  visibility: inherit;
  opacity: 1;
  z-index: 10;
  background-color: white;
}

.menu-item {
  min-width: 8rem;
}

.menu-item.active {
  @apply bg-orange-200;
}

/* post  */
.blog-post h1 {
  @apply mb-8;
}

.blog-post h3,
.blog-post h2 {
  @apply mt-10;
}
.blog-post p {
  @apply mb-4 leading-loose;
}
.blog-post pre {
  @apply mb-6 !important;
}
.blog-post p > code {
  @apply bg-gray-300 px-1 rounded font-sans italic;
}
.blog-post img {
  @apply mb-6;
}
@tailwind utilities;
